{% extends "graphs/base_template.html" %}
{% load static %}

{% block content %}

<div class="starter-template">
  <h1>Add climate data</h1>
  <p class="lead">Ottawa average temperature and precipitation from 1929-2018</p>
</div>

<div id="climateForm" class="form-group row" data-years-url="{% url 'ajax_load_years' %}">
  <label for="inputName" clas="col-md-3 col-sm-2">Name</label>
  <div class="col-md-3 col-sm-10">
    <select id="inputName" class="form-control">
      <option selected>---------</option>
      {% for name in names %}
        <option value="{{ name.id }}">{{ name }}</option>
      {% endfor %}
    </select>
  </div>
  <div id="inputYear"></div>
</div>

<script type="text/javascript" src="{% static 'graphs/js/add-data.js' %}"></script>

{% endblock %}
