{% extends "graphs/base_template.html" %}
{% load static %}

{% block content %}

  <div class="starter-template">
    <h1>TSES3002V Swarm Project Group A</h1>
    <p class="lead">Monthly graphs of temperature and precipitation data from 1926-2018</p>
  </div>

  <div class="row">
    <div id="avgTemperatureChart" style="width:100%; height:800px;"></div>
  </div>
  <div id="precipitationChart" style="width:100%; height:800px;"></div>

  <script type="text/javascript" src="{% static 'graphs/js/monthly_graph.js' %}"></script>

{% endblock %}
